/* Foundation & Common Elements */
*{margin: 0;padding: 0;border: 0;text-decoration: none;}
body{
	width: 100%;
	height: 100%;
	background: url('../images/bodyBG.png');
	font-family: Helvetica, Ariel, Sans-serif;
}
.box{
	background: url('../images/boxBG.png');
	border-radius: 10px;
	box-shadow: 0px 0px 10px #000;
}
.container{
	width: 850px;
	min-height: 80px;
	margin: auto;
	padding-bottom: 20px;
	background: url('../images/boxBG.png');
}
header{
	width: 850px;
	height: 65px;
	background: url('../images/boxBG.png');
	box-shadow: 0px 1px 0px rgb(170, 170, 170);
}
.mainTitle{
	width: 145px;
	height: 50px;
	background: url('../images/title.png') no-repeat;
	background-size: 145px 50px;
	margin: 10px 0 0 25px;
	float: left;
}
.postButton{
	width: 40px;
	height: 40px;
	background: url('../images/postButton.png') no-repeat;
	background-size: 40px 40px;
	margin: 14px 0 0 62px;
	float: left;
	cursor: pointer;
}
	.postButton:hover{background: url('../images/postButtonHover.png') no-repeat;}
nav{
	margin-top: 21px;
	float: right;
}
	nav ul{list-style: none;}
	nav ul li{
		width: 108px;
		height: 27px;
		margin-right: 20px;
		float: left;
		line-height: 27px;
	}
	nav ul li a{
		width: 100%;
		height: 100%;
		display: block;
		color: #fff;
	}
.button{
	width: 108px;
	height: 27px;
	background: url('../images/button.png') no-repeat;
	color: #fff;
	text-shadow: 0 1px 3px rgb(0,66,112);
	text-align: center;
	line-height: 27px;
	font-size: 0.8em;
	cursor: pointer;
}
	.button:hover{background: url('../images/buttonHover.png') no-repeat;}
.green{
	background: url('../images/buttonG.png') no-repeat;
	text-shadow: 0 1px 3px rgb(0,99,23);
}
	.green:hover{background: url('../images/buttonGHover.png') no-repeat;}
.red{
	background: url('../images/buttonR.png') no-repeat;
	text-shadow: 0 1px 3px rgb(128,24,24);
}
	.red:hover{background: url('../images/buttonRHover.png') no-repeat;}
input[type="text"],
input[type="password"],
textarea{
	width: 185px;
	height: 20px;
	border-radius: 5px;
	border: 1px solid rgb(140,140,140);
	box-shadow: 0px 1px 0px rgb(226,226,226);
	margin-bottom: 10px;
	padding-left: 5px;
}
input[type="radio"]{
	width: 12px;
	height: 13px;
	background: url('../images/radioEmpty.png') no-repeat;
}
input[type="radio"]:checked{
	width: 12px;
	height: 13px;
	background: url('../images/radioFull.png') no-repeat;
}
.error{
	display: none;
	width: 430px;
	background-color: #fe6363;
	border: 1px solid #ae0000;
	border-radius: 10px;
	padding: 10px;
	text-align: center;
	font-size: 0.8em;
	position: relative;
	top: 50%;
	margin: auto auto 5px auto;
}
.overlayError{
	display: none;
	width: 100%;
	color: #ae0000;
	font-size: 0.8em;
	position: relative;
	float: left;
	margin: 0 0 10px 20px;
}
.overlay{
	display: none;
	width: 100%;
	height: 100%;
	position: absolute;
	opacity: 0.5;
	background-color: #000;
	z-index: 2;
}
.icon{
	width: 20px;
	height: 20px;
	background-size: 20px 20px;
	float: right;
	cursor: pointer;
}
footer{
	width: 850px;
	height: 40px;
	margin: -20px auto 0 auto;
	position: relative;
	padding-top: 25px;
	background: url('../images/boxBG.png');
	box-shadow: 0px -1px 0px rgb(170, 170, 170);
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	color: #7c7c7c;
	font-size: 0.85em;
	text-align: center;
	text-shadow: 0px 1px 0px rgb(241, 241, 241);
}
.secondaryFooter{
	font-size: 0.7em;
	color: #fff;
	position: relative;
	top: 50%;
	margin-top: 5px;
	text-align: center;
}

/* Login */
#loginBox{
	width: 450px;
	height: 225px;
	margin: -120px auto 10px auto;
	top: 50%;
	position: relative;
}
#loginTitle{
	width: 192px;
	height: 66px;
	background: url('../images/title.png') no-repeat;
	margin: 15px 0 0 133px;
	position: absolute;
}
#loginEmail{
	width: 355px;
	height: 30px;
	margin: 100px 0 0 40px;
	padding-left: 10px;
}
#loginPassword{
	width: 355px;
	height: 30px;
	margin: 5px 0 0 40px;
	padding-left: 10px;
}
#loginButton{margin: 15px 0 0 40px;}
#joinButton{
	margin: -26px 170px 0 0;
	float: right;
}
#reset{
	font-size: 0.7em;
	color: #787878;
	margin: -19px 0 0 317px;
}

/* Join */
#joinBox{
	width: 450px;
	height: 325px;
	margin: -165px auto 10px auto;
	top: 50%;
	position: relative;
}
#joinLeft{
	width: 225px;
	height: 325px;
	float: left;
	position: absolute;
	margin: 30px 0 0 20px;
}
	select{
		width: 192px;
		height: 20px;
		border-radius: 5px;
		border: 1px solid rgb(140,140,140);
		box-shadow: 0px 1px 0px rgb(226,226,226);
		margin-bottom: 10px;
		padding-left: 5px;
	}
	#joinTexts{margin-bottom: 10px;}
	label[name="texts"]{
		font-weight: bold;
		padding-right: 9px;
	}
	label[name="emails"]{font-weight: bold;}
	label{font-size: 0.75em;}
#joinRight{
	width: 225px;
	height: 250px;
	float: right;
	margin: 75px -10px 0 0;
}
	#joinTitle{
		width: 192px;
		height: 106px;
		background: url('../images/joinTitle.png') no-repeat;
	}
	#joinSubmit{margin: 10px 0 0 40px;}
	#joinCancel{
		margin: 5px 77px 0 0;
		float: right;
	}

/* Popovers */
#createGroupBox,
#editGroupBox,
#inviteBox,
#postBox,
#feedBox{
	display: none;
	width: 400px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -200px 0 0 -200px;
	z-index: 2;
}
#createGroupTitle,
#editGroupTitle,
#inviteTitle,
#postTitle{
	margin: 10px;
	font-weight: bold;
	font-size: 0.95em;
}
#createGroupName,
#editGroupName{
	width: 350px;
	margin: 0 0 5px 20px;
}
#createGroupDescription,
#editGroupDescription,
#postContent{
	width: 350px;
	height: 100px;
	margin: 0 0 5px 20px;
	padding-top: 5px;
	resize: none;
}
#createGroupEmails,
#inviteEmails{
	width: 350px;
	height: 75px;
	margin: 0 0 5px 20px;
	padding-top: 5px;
	resize: none;
}
#createGroupCreate,
#editGroupCreate,
#inviteSubmit,
#postCreate{
	float: right;
	margin: 0 23px 10px 10px;
}
#createGroupCancel,
#editGroupCancel,
#inviteCancel,
#postCancel{float: right;}

	/* Profile */
	#profileBox{
		width: 400px;
		position: absolute;
		top: 50%;
		left: 50%;
		margin: -200px 0 0 -200px;
		z-index: 2;
	}
	.profileTitle{
		margin: 10px 0 10px 10px;
		font-weight: bold;
	}
	.profileEntry{
		width: 100%;
		margin: 0 0 10px 10px;
		font-size: 0.85em;
	}
	.profileSubTitle{
		font-weight: bold;
		float: left;
	}
	#profileEdit{
		float: right;
		margin: 0 23px 10px 10px;
	}
	#profileCancel{float: right;}
	
	/* Edit Profile */
	#editProfileBox{
		width: 450px;
		margin: -200px auto 10px -225px;
		top: 50%;
		left: 50%;
		position: absolute;
		z-index: 2;
	}
	#editProfileLeft{
		width: 225px;
		height: 210px;
		float: left;
		position: absolute;
		margin: 30px 0 0 20px;
	}
		#editProfileTexts{margin-bottom: 10px;}
	#editProfileRight{
		width: 225px;
		height: 210px;
		float: right;
		margin: 75px -10px 0 0;
	}
		#editProfileTitle{
			width: 192px;
			height: 66px;
			background: url('../images/title.png') no-repeat;
		}
		#editProfileSubmit{margin: 10px 0 0 40px;}
		#editProfileCancel{
			margin: 5px 77px 0 0;
			float: right;
		}
	
	/* Feed Groups */
	.feedGroupBlock{
		width: 100%;
		padding: 15px 0;
		background: url('../images/boxBG.png');
		box-shadow: 0px 1px 0px rgb(170, 170, 170), 0px -1px 0px rgb(170,170,170);
	}
	.feedGroupBlock:first-child{border-radius: 10px 10px 0 0;}
	.feedGroupBlock:last-child{border-radius: 0 0 10px 10px;}
	
/* Groups */
#groupList{
	width: 100%;
	height: 100%;
}
#groupSearch{
	width: 400px;
	margin: 20px 0 20px 225px;
}
.groupBlock{
	width: 100%;
	padding: 15px 0;
	background: url('../images/boxBG.png');
	box-shadow: 0px 1px 0px rgb(170, 170, 170), 0px -1px 0px rgb(170,170,170);
}
.groupTitle{
	margin-left: 20px;
	font-size: 0.95em;
	font-weight: bold;
}
.groupTitle a{color: #0283de;}
.groupText{
	margin: 5px 100px 0 20px;
	font-size: 0.8em;
}
.groupDelete{
	width: 27px;
	height: 15px;
	background: url('../images/delete.png') no-repeat;
	background-size: 27px 15px;
	float: right;
	margin: -10px 10px 0 0;
	cursor: pointer;
}
	.groupDelete:hover{background: url('../images/deleteHover.png') no-repeat;}
.groupAdd{
	background: url('../images/add.png') no-repeat;
	float: right;
	margin: -15px 10px 0 0;
}
	.groupAdd:hover{background: url('../images/addHover.png') no-repeat;}
.accept{
	background: url('../images/accept.png') no-repeat;
	float: right;
	margin: -15px 10px 0 0;
}
	.accept:hover{background: url('../images/acceptHover.png') no-repeat;}
.decline{
	background: url('../images/decline.png') no-repeat;
	float: right;
	margin: -15px 10px 0 0;
}
	.decline:hover{background: url('../images/declineHover.png') no-repeat;}
#groupCreate{margin: 20px;}
	
/* Specific Groups */
#specificGroupList{
	width: 100%;
	height: 100%;
}
.specificGroupBlock{
	width: 100%;
	padding: 15px 0;
	background: url('../images/boxBG.png');
	box-shadow: 0px 1px 0px rgb(170, 170, 170), 0px -1px 0px rgb(170,170,170);
}
.specificGroupTitle{
	margin-left: 20px;
	font-size: 0.95em;
	font-weight: bold;
	color: #0283de;
}
.specificGroupText{
	margin: 5px 100px 0 20px;
	font-size: 0.8em;
}
.specificGroupEdit{
	background: url('../images/edit.png') no-repeat;
	float: right;
	margin: -15px 10px 0 0;
}
	.specificGroupEdit:hover{background: url('../images/editHover.png') no-repeat;}
.specificGroupMember{
	margin-bottom: 5px;
}
.specificGroupRemove{
	width: 27px;
	height: 15px;
	background: url('../images/delete.png') no-repeat;
	background-size: 27px 15px;
	float: right;
	margin-right: 500px;
	cursor: pointer;
}
	.specificGroupRemove:hover{background: url('../images/deleteHover.png') no-repeat;}
#specificGroupAdd,
#specificGroupDelete{margin: 20px;}

	/* Notifications */
	.notificationBlock{
		margin: 5px 0 10px 20px;
	}
	.notificationMember{
		float: left;
		cursor: default;
		background: url('../images/member.png') no-repeat;
	}
	.notificationFlag{
		float: left;
		cursor: default;
		margin-right: 5px;
		background: url('../images/flag.png') no-repeat;
	}
	.notificationText{
		width: 720px;
		margin-left: 25px;
		font-size: 0.8em;
		text-align: justify;
	}
	.notificationName{
		font-weight: bold;
		padding-top: 3px;
	}
	.notificationAccept{
		margin-right: 10px;
		background: url('../images/accept.png') no-repeat;
	}
		.notificationAccept:hover{background: url('../images/acceptHover.png') no-repeat;}
	.notificationDecline{
		margin-right: 10px;
		background: url('../images/decline.png') no-repeat;
	}
		.notificationDecline:hover{background: url('../images/declineHover.png') no-repeat;}

/* Search Groups */
#emptyResults{margin: 0 0 20px 20px;}

/* Feed */